body {
    font-family: 'Courier New', monospace;
    background-color: #000;
    color: #0F0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.console {
    width: 1500px;
    height: 700px;
    background-color: #000;
    border: 2px solid #0F0;
    margin: 50px auto;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

#output {
    min-height: 200px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 10px;
    background-color: #000;
    color: #0F0;
    padding: 10px;
    border: 1px solid #0F0;
}

.input {
    text-align: center;
}

button {
    background-color: #0F0;
    color: #000;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition-duration: 0.4s;
    font-family: 'Courier New', monospace;
    border-radius: 5px;
}

button:hover {
    background-color: #000;
    color: #0F0;
    border: 1px solid #0F0;
}
